#title{
  text-align: center;
  font-family: 'Barlow Condensed', sans-serif;
}

.art{
  margin: auto;
}

td{
  border: 6px solid white;
  width: 200px;
  height:400px
}

#one{
  background-color: rgb(251, 97, 7);

}

#two{
  background-color: rgb(243, 222, 44);

}

#three{
  background-color: rgb(124, 181, 24);

}

#four{
  background-color: rgb(92, 128, 1);

}

#five{
  background-color: rgb(251, 176, 45);

}
